@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes slideGrow {
  from { transform: scale(0); height: 0; }
  to { transform: scale(0.8); height: 22px; }
}
