* {
  box-sizing: border-box;
  font-family: Trebuchet MS, sans-serif;
}

body {
  margin: 0;
  font-family: Trebuchet MS, sans-serif;
}

// This is not working for some reason
@mixin boxShadowInset($bCol1: white, $bCol2: black, $bSize1: 1px, $bSize2: 2px) {
  box-shadow: 
    inset $bSize1, $bSize1, 0, $bCol1,
    inset -$bSize1 $bSize1 0 $bCol1,
    inset $bSize1  -$bSize1 0 $bCol1,
    inset -$bSize1  -$bSize1 0 $bCol1,
    inset $bSize2 $bSize2 0 $bCol2,
    inset -$bSize2 $bSize2 0 $bCol2,
    inset $bSize2  -$bSize2 0 $bCol2,
    inset -$bSize2  -$bSize2 0 $bCol2;
}

%ButtonStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  font-family: Trebuchet MS, sans-serif;
  background: white;
  color: black;
  font-weight: 500;
  border: solid 2px #000000;
  padding: 0;
  box-shadow:   
    inset 2px 2px 0 white,
    inset -2px 2px 0 white,
    inset 2px -2px 0 white,
    inset -2px -2px 0 white,
    inset 3px 3px 0 #c2c2c2,
    inset -3px 3px 0 #c2c2c2,
    inset 3px -3px 0 #c2c2c2,
    inset -3px -3px 0 #c2c2c2;
  -webkit-tap-highlight-color: transparent;

  &:focus {

  }

  &:hover {

  }

  &:active {
    background: #f5f5f5;
    box-shadow:   
      inset 3px 3px 0 white,
      inset -3px 3px 0 white,
      inset 3px -3px 0 white,
      inset -3px -3px 0 white,
      inset 4px 4px 0 grey,
      inset -4px 4px 0 grey,
      inset 4px -4px 0 grey,
      inset -4px -4px 0 grey;
  }

  &:disabled {
    border-color: grey;
    color: rgb(162, 162, 162);
    opacity: 0.6;
  }
}