* {
  box-sizing: border-box;
  font-family: Trebuchet MS, sans-serif;
}

body {
  margin: 0;
  font-family: Trebuchet MS, sans-serif;
}


// This is not working for some reason
@mixin boxShadowInset($bCol1: white, $bCol2: black, $bSize1: 1px, $bSize2: 2px) {
  box-shadow: 
    inset $bSize1, $bSize1, 0, $bCol1,
    inset -$bSize1 $bSize1 0 $bCol1,
    inset $bSize1  -$bSize1 0 $bCol1,
    inset -$bSize1  -$bSize1 0 $bCol1,
    inset $bSize2 $bSize2 0 $bCol2,
    inset -$bSize2 $bSize2 0 $bCol2,
    inset $bSize2  -$bSize2 0 $bCol2,
    inset -$bSize2  -$bSize2 0 $bCol2;
}