.Container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.SavedRoll {
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
}