.Container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.SavedRoll {
  display: inline-flex;
  gap: 6px;
  background: black;
  color: white;
  padding: 0 0 0 5px;
  border-radius: 30px;

  &__Btn {
    color: white;
    background: transparent;
    border: none;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

    &_delete {
      padding-right: 10px;
    }
  }
}