@use '@styles/animation';

.HistoryPara {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  padding-right: 24px;
  margin: 10px 0;
  transform-origin: right;
  transform: scale(0.8);

  &_anim {
    transform: scale(0);
    animation: 0.75s slideGrow forwards;
  }
}

.HistoryContainer {
  background: #f3f3f3;
}

.HistoryTitle {
  font-size: 14px;
  margin-right: 5px;
}