@use '@styles/animation';

.HistoryPara {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  padding-right: 24px;
  margin: 10px 0;
  transform-origin: right;
  transform: scale(0.8);
}

.HistoryContainer {
  overflow: hidden;
}

.HistoryTitle {
  font-size: 14px;
  margin-right: 5px;
}