.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;

  &_flat {
    flex-direction: row-reverse;
    flex-grow: 1;
  }
}

$diceImgSize: 60px;

.Dice {
  position: relative;
  width: 100%;
  height: calc(100% / 6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border: none;
  background: white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s, background 0.9s;

  &:active {
    opacity: 0.8;
  }

  &_flat {
    width: calc(100% / 6);
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: end;
    flex-direction: column-reverse;
  }

  &__Title {
    color: inherit;
    text-shadow: 2px 2px 0 white;
    font-size: 40px;
    font-weight: 900;
    font-family: math;
    width: 70px;

    &_flat {
      text-align: center;
    }
  }

  &__Result {
    font-size: 40px;
    font-weight: 900;
    text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
    text-align: center;
    width: 100%;
  }

  &__Img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$diceImgSize/2;
    margin-left: -$diceImgSize/2;
    height: $diceImgSize;
    width: $diceImgSize;
    opacity: 0.3;
    filter: grayscale(0) brightness(0);

    &_flat {
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__Rolls {
    font-size: 15px;
    text-shadow: 1px 1px 4px white;
    width: 100%;
    max-width: 70px;

    &_flat {
      text-align: center;
      margin-bottom: auto;
      margin-top: 10px;
    }

    &__Total {
      font-weight: 900;
      font-size: 16px;
    }
  }
}
