@use '@styles/global' as g;

.customSelect {
  position: relative;
  grid-column: 3;
  .selectButton {
    @extend %ButtonStyle;
    width: 100%;
    height: 100%;
    gap: 4px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modalContent {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(5, 1fr);
      background: white;
      padding: 20px;
      border-radius: 5px;
      width: 100%;
      max-width: 400px;
      height: auto;
      overflow-y: scroll;
      position: relative;

      &::-webkit-scrollbar {
        width: 0;
      }
    
      & {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      .options {
        display: contents;

        .optionButton {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background: lightgrey;
          }
        }
      }

      .closeButton {
        grid-column: 1/6;
        margin-top: 15px;
        padding: 10px;
        @extend %ButtonStyle;
      }
    }
  }
}

.selected {
  color: white;
  background: #000;
  border-color: #007bff !important; 
}

.centreSelect {
  grid-column: 1/6;
}

.modifier {
  background: black;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}