@use '@styles/global' as g;

.Container {
  width: 100%;
  height: 90px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto
}

.Button {
  cursor: pointer;
  border-radius: 5px;
  font-family: Trebuchet MS, sans-serif;
  background: #3b3636; // 303036
  color: white;
  font-weight: 900;
  border: solid 2px #000000;
    //box-shadow: inset 1px 1px 0 white, inset -1px 1px 0 white, inset 1px -1px 0 white, inset -1px -1px 0 white, inset 2px 2px 0 black, inset -2px 2px 0 black, inset 2px -2px 0 black, inset -2px -2px 0 black;
  box-shadow:   
    inset 1px 1px 0 white,
    inset -1px 1px 0 white,
    inset 1px -1px 0 white,
    inset -1px -1px 0 white,
    inset 2px 2px 0 black,
    inset -2px 2px 0 black,
    inset 2px -2px 0 black,
    inset -2px -2px 0 black;

  &:focus {

  }

  &:hover {

  }

  &:active {

  }

  &:disabled {
    color: rgb(162, 162, 162);
    opacity: 0.8;
  }

  // &_modifier {
  //   grid-column: 1 / 1;
  // }
  &_swatch {
    grid-column: 1
  }
  &_clear {
    grid-column: 3;
  }
  &_clearHistory {
    grid-column: 3;
  }
  &_save {
    grid-column: 2;
  }
  &_grid {
    grid-column: 1;
  }
}

.BtnContainer {
  display: flex;
  gap: 10px;
}

.ModalTitle {
  margin: 0;
  text-align: center;
}

.Btn {
  width: 50%;
  padding: 10px;
}

.InputContainer {
  display: inline-block;
  background: black;
  padding: 0;
  border-radius: 20px;
}

.Input {
  background: transparent;
  border: none;
  color: white;
  text-align: center;
  outline: none;
  padding: 8px 0;
  width: 120px;
  font-size: 16px;
  &::placeholder {
    color: rgb(201, 201, 201);
  }
}

.ColourContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 15px;
}

.RadioBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}